* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
  font-family: sans-serif;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

.app {
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  overflow-y: auto;
  padding: 3%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.app details summary {
  font-size: 24px;
  padding-bottom: 10px;
  cursor: pointer;
  line-height: 150%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

.app details ol {
  list-style: none;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.app details ol li {
  font-size: 20px;
  background: #ccc;
  width: fit-content;
  padding: 5px;
  border-radius: 3px;
  line-height: 150%;
}

.app > h3 {
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  gap: 10px;
}

.app > h3 :where(span, i) {
  font-size: 16px;
  font-style: normal;
  color: #333;
}

.app > h3 > span {
  font-size: 22px;
}

@media (max-width: 768px) {
  .app details summary {
    font-size: 16px;
  }

  .app details ol {
    padding-left: 10px;
    gap: 10px;
  }

  .app details ol li {
    font-size: 16px;
  }
}
